<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TorrentCrawler.Properties.Settings.TorrentDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\TorrentDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="TorrentCrawler.Properties.Settings.bachelorConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=bachelor"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>